<div class="container">
  <h1>add_task</h1>
  <%= form_with model: @todo, local:true do |form| %>
    <%= form.label :title %>
    <%= form.text_field :title, placeholder: "input" %>
    <input type="submit" value="add">
  <% end %>
  <%= link_to 'back', todos_path, class: "back" %>
</div>